/* Here's our own styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    padding: 2vh 4vw;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
}

.book-box {
    margin: 0 auto;
    padding-top: 4vh;
}

#search-bar {
    width: 100%;
    padding: 3%;
    border: 20%;
}

.heading {
    padding-top: 3vh;
    text-align: center;
    color: azure;
}

.button {
    margin: 1%;
}

.book-border {
    background-color: #212529;
    color: azure;
    text-align: center;
}

body {
    background-color: #2d333b;
}

.cardimg {
    height: 371px;
}

.card-body {
    height: 100%;
}