/* Here's our own styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    padding: 2vh 4vw;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
}

.book-box {
    flex-basis: 25%;
    border: 1px black solid;
}

#search-bar {
    width: 100%;
}